
@model Employee
@{
    ViewData["Title"] = @Model.GetFullName();
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Experience" asp-action="AccountServed" asp-route-id=@Model.EmployeeId>Experiences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Career Interests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Certificates and Competencies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Performance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Comments</a>
    </li>
</ul>

<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-4">
            <h2 class="text-right">@Model.GetFullName()</h2>
            <img src="~/img/user-placeholder.png" class="rounded float-right" />
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 bg-success">
                    <p class="text-white my-2">Biographical Data</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-right">Gender:</p>
                    <p class="text-right">Race:</p>
                    <p class="text-right">Original Hire Date:</p>
                </div>
                <div class="col-3 bg-light">
                    <p>@Model.Gender</p>
                    <p>@Model.Race</p>
                    <p>@Model.OriginalHireDate.ToString("dd-MM-yyyy")</p>
                </div>
                <div class="col-3">
                    <p class="text-right">Direct Admit:</p>
                    <p class="text-right">Experience Credit:</p>
                    <p class="text-right">Mandatory Retire:</p>
                </div>
                <div class="col-3 bg-light">
                    <p>@Model.DirectAdmit</p>
                    <p>@Model.ExperienceCredit</p>
                    <p>@Model.MandatoryRetirement.ToString("dd-MM-yyyy")</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 bg-success">
                    <p class="text-white my-2">Demographic Data</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-right">Email:</p>
                    <p class="text-right">Office:</p>
                    <p class="text-right">Department</p>
                </div>
                <div class="col-3 bg-light">
                    <p>@Model.Email@@company.org</p>
                    <p>@Model.Office</p>
                    <p>@Model.Department</p>
                </div>
                <div class="col-3">
                    <p class="text-right">Status:</p>
                    <p class="text-right">Primary Industry:</p>
                    <p class="text-right">Sector:</p>
                </div>
                <div class="col-3 bg-light">
                    <p>@Model.Status</p>
                    <p>@Model.PrimaryIndustry</p>
                    <p>@Model.Sector</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Schedule</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-2">
            <p class="text-right">Notes</p>
        </div>
        <div class="col-10">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>