
@model ExperienceTabNavViewModel

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @Model.AccountsServedActive" asp-controller="Experience" asp-action="AccountServed" asp-route-id=@Model.EmployeeId>Accounts Served</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.PracticeManagementActive" asp-controller="Experience" asp-action="PracticeManagement" asp-route-id=@Model.EmployeeId>Practice Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.BoardCommitteeActive" href="#">Boards and Committees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.TalentContributionActive" href="#">Talent Contributions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.GlobalAssignmentActive" href="#">Global Assignments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.ExternalEminenceActive" href="#">External Eminence</a>
        </li>
    </ul>