
@model List<ReloInterest>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm"
               data-toggle="table" data-pagination="true">
            <thead class="thead-light">
                <tr>
                    <th data-sortable="true">Location</th>
                    <th data-sortable="true">Interest Level</th>
                    <th data-sortable="true">Timing</th>
                    <th data-sortable="true">Comments</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                <tr>
                    <td>@a.Location</td>
                    <td>@a.InterestLevel</td>
                    <td>@a.Timing</td>
                    <td>@a.Comments</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id-@a.ReloInterestId">
                            <i class="fa fa-edit"></i>
                        </button>

                        <div class="modal fade" id="id-@a.ReloInterestId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <partial name="ReloInterestEdit" model=@a />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del-@a.ReloInterestId">
                            <i class="fa fa-trash-alt"></i>
                        </button>

                        <div class="modal fade" id="del-@a.ReloInterestId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete Account Served History?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" asp-controller="ReloInterest" asp-action="ReloInterestDelete"
                                           asp-route-id="@a.ReloInterestId" asp-route-employeeId="@a.EmployeeId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>