
@model AccountServedViewModel
@{
    ViewData["Title"] = $"{@Model.Employee.GetFullName()} Accounts Served";
}

<partial name="_CategoryNav" model=@Model.CategoryNav />

<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-4">
            <h2 class="text-right">@Model.Employee.GetFullName()</h2>
            <img src="~/img/user-placeholder.png" class="rounded float-right" />
        </div>
        <div class="col-8">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Accounts Served</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Practice Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Boards and Committees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Development Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Talent Contributions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Global Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">External Eminence</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm"
                           data-toggle="table" data-pagination="true">
                        <thead class="thead-light">
                            <tr>
                                <th data-sortable="true">Account</th>
                                <th data-sortable="true">Role</th>
                                <th data-sortable="true">Start Date</th>
                                <th data-sortable="true">End Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.AccountsServed)
                            {
                                <tr>
                                    <td>@a.Account</td>
                                    <td>@a.ClientService</td>
                                    <td>@a.StartDate.ToString("dd-MM-yyyy")</td>
                                    <td>@a.EndDate.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id-@a.AccountServedId">
                                            <i class="fa fa-edit"></i>
                                        </button>

                                        <div class="modal fade" id="id-@a.AccountServedId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <partial name="AccountServedEdit" model=@a />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del-@a.AccountServedId">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>

                                        <div class="modal fade" id="del-@a.AccountServedId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete Account Served History?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a class="btn btn-danger" asp-controller="Experience" asp-action="AccountServedDelete" 
                                                           asp-route-id="@a.AccountServedId" asp-route-employeeId="@a.EmployeeId">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id-New">
                    New Account Served
                </button>

                <div class="modal fade" id="id-New" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <partial name="AccountServedEdit" model=@Model.NewAccountServed />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                @*<button type="button" class="btn btn-primary">Save changes</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>